body {
    color: #333;
    font-family: "Lucida Sans", "Lucida Grande", sans-serif;
}

.container {
    margin: 0 auto;
    width: 940px;
    position: relative;
}

/* sacola */

header span {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    text-align: right;
    width: 140px;
    padding-right: 35px;
    display: inline-block;
    padding-top: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

/* menu opcoes */

header nav ul {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a {
    color: #036;
}

form {
    background-color: #dcdcdc;
    width: 250px;
    padding: 8px;
    border-radius: 5px 5px 0 0;
}

input [type="search"] {
    border-radius: 5px;
    border: 1px solid #ececec;
    padding-left: 15px;
}

section {
    margin-top: 10px;
}

.menu-departamentos {
    background-color: #dcdcdc;
    width: 250px;
    padding: 8px;
    margin-top: 10px;
}

.menu-departamentos h3 {
    padding: 0 0 8px 0;
}

.menu-departamentos li{
 background-color: white;
 border-bottom: 2px solid #dcdcdc;
}
