body {
    color: #333;
    font-family: "Lucida Sans", "Lucida Grande", sans-serif;
}

.container{
    margin: 0 auto;
    width: 940px;
}

header span {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    text-align: right;
    width: 140px;
    padding-right: 35px;
    display: inline-block;
    padding-top: 8px;
}

header nav ul {
    font-size: 15px;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a {
    color: #036;
}