body {
    color: #333;
    font-family: "Lucida Sans", "Lucida Grande", sans-serif;
}

.container {
    margin: 0 auto;
    width: 96%;
    position: relative;
}

header span {
    display: none;
}

header h1 {
    display: flex;
    justify-content: center;
}

header h1 img {
    max-width: 50%;
}

.menu-opcoes {
    text-align: center;
}

.menu-opcoes ul {
    font-size: 15px;
    color: #036;
}

.menu-opcoes ul li {
    display: inline-block;
    margin: 5px;
}

.menu-opcoes a:active {
    color: green;
}

.produto {
    color: #333;
    line-height: 1.6em;
    margin-top: 2em;
}

.produto h2 {
    font-size: 1.7em;
    font-weight: bold;
}

.produto p {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 1em;
}

.produto legend {
    display: block;
    font: bold 0.9em/2.5 Arial;
    text-transform: uppercase;
}

.cores {
    position: relative;
    padding-top: 90px;
}

.cores legend {
    position: absolute;
    top: 0;
    left: 0;
}

.cores label img {
    display: block;
    max-width: 100%;
}

.cores label::after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    position: absolute;
    top: 30px;
    cursor: pointer;
}

.cores label[for=verde]::after {
    background-color: #3c6;
    left: 0;
}

.cores label[for=rosa]::after {
    background-color: #f66;
    left: 60px;
}

.cores label[for=azul]::after {
    background-color: #66f;
    left: 120px;
}

.cores input:checked+label::after {
    border: 6px solid rgba(0, 0, 0, 0.3);
    transition: 1s;
}

.cores input[type=radio] {
    display: none;
}

.cores input:not(:checked)+label img {
    display: none;
}

.cores label:hover::after {
    border: 6px solid rgba(0, 0, 0, 0.1);
}



.comprar {
    background-color: #91bd3c;
    border: none;
    color: #333;
    font-size: 1.4em;
    text-transform: uppercase;
    box-shadow: 0 1px 3px #777;
    display: block;
    padding: 0.5em 1em;
    margin: 1em 0;
    cursor: pointer;
}

footer {
    background-image: url(../img/fundo-rodape.png);
    padding: 10px 0;
}

footer div {
    display: flex;
    justify-content: space-between;
}

.social {
    display: flex;
}

.social a {
    background-repeat: no-repeat;
    height: 32px;
    width: 32px;
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
}

a[href*="twitter"] {
    background-image: url(../img/twitter.png);
}

a[href*="gplus"] {
    background-image: url(../img/googleplus.png);
}

a[href*="facebook"] {
    background-image: url(../img/facebook.png);
}